doctype html
html
    head
        title Schedule
        link(rel="icon" type="image/x-icon" href="/static/images/school_icon.png")
        link(rel="stylesheet", href="/static/styles/main.css")
        link(rel="stylesheet", href="/static/styles/schedule.css")
    body
        script(src = '/static/scripts/schedule.js')
        script(src = '/static/scripts/schedule_page.js')
        .container
            .top-bar
                img(src = '/static/images/school_icon.png' class = 'school-icon') 
                .title School Venue Booking
                a(href = '/logout' class = 'logout') 
                    img(src = '/static/images/logout_icon.png')
                    div Logout
            .navigation-bar
                ul(class = 'navigation')
                    li
                        a(href = '/home') Home
                    li
                        a(href = '/schedule') Schedule
                    li 
                        a(href = '/book_venue') Book Venues
                    li 
                        a(href = '/my_requests') My Requests
                    if (role === "teacher")
                        li
                            a(href = '/pending_requests') Pending Requests
            .main-page
                .schedule-viewer
                    .viewer-title 
                        .viewer-title-text Schedule Viewer
                        .schedule-date-container
                            button(class = "schedule-date-yesterday") ◂
                            p(class = 'schedule-date') #{today.toDateString()}
                            button(class = "schedule-date-tomorrow") ▸
                        img(class = 'schedule-colors' src = '/static/images/schedule_viewer_colors.png')
                    .schedule-container
                        .records-container
                        canvas(class = "schedule-canvas")